<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>

    <link rel="stylesheet" href="res/css/bootstrap.min.css" />
    <link rel="stylesheet" href="res/css/bootstrap-theme-dark.min.css" />
    <link href="res/css/lightbox.min.css" rel="stylesheet"/>
    <link href="res/css/circle.min.css" rel="stylesheet" />
  </head>
  <body>

    <div class="container">

      <div class="panel panel-default" style="margin-top:10px">
        <div class="panel-heading">
          <h3 class="panel-title">Website</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="#" id="form_url">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">URL : </span>
                <input type="text" name="url" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">OK</button>
                </span>
              </div>
            </div>
          </form>

          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width: 0%" id="ProgressBar"></div>
          </div>
          <center id="progressTitle"></center>

        </div>
      </div>

      <!-- PICTURE
      <div class="row">
        <div class="col-md-6"><img class="img-responsive img-thumbnail center-block" src="res/img/placeholder.png" id="picture_desktop"></div>
        <div class="col-md-6"><img class="img-responsive img-thumbnail center-block" src="res/img/placeholder.png" id="picture_iphone"></div>
      </div>
       END PICTURE -->

      <!-- INFO -->
      <div id="info"></div>
      <script id="info-template" type="text/x-handlebars-template">
        <div class="panel panel-{{infoColor}}">
          <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
          </div>
          <div class="panel-body">

              <div class="col-lg-3 col-md-3 col-xs-3 thumb">
                Desktop
                <a href="res/img/placeholder.png" data-lightbox="screenshot" class="thumbnail" id="a_desktopHD">
                    <img class="img-responsive" src="res/img/placeholder.png" alt="" style="height: 200px;" id="img_desktopHD">
                </a>
                (1920 x 1080)
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3 thumb">
                Desktop
                <a href="res/img/placeholder.png" data-lightbox="screenshot" class="thumbnail" id="a_desktop">
                    <img class="img-responsive" src="res/img/placeholder.png" alt="" style="height: 200px;" id="img_desktop">
                </a>
                (1024 x 768)
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3 thumb">
                Microsoft Surface
                <a href="res/img/placeholder.png" data-lightbox="screenshot" class="thumbnail" id="a_microsoftSurface">
                    <img class="img-responsive" src="res/img/placeholder.png" alt="" style="height: 200px;" id="img_microsoftSurface">
                </a>
                (1366 x 768)
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3 thumb">
                iPhone 5s
                <a href="res/img/placeholder.png" data-lightbox="screenshot" class="thumbnail" id="a_iphone">
                    <img class="img-responsive" src="res/img/placeholder.png" alt="" style="height: 200px;" id="img_iphone">
                </a>
                (1136 x 640)
              </div>

            <br />
            <p><b>Meta Description : </b> {{description}}</p>
            <hr />
            <p><b>Meta Keywords : </b> {{keywords}}</p>
          </div>
        </div>
      </script>
      <!-- END INFO -->

      <!-- opengraph -->
      <div id="opengraph"></div>
      <script id="opengraph-template" type="text/x-handlebars-template">
        <div class="panel panel-{{openGraphColor}}">
          <div class="panel-heading">
            <h3 class="panel-title">OpenGraph</h3>
          </div>
          <div class="panel-body">
            <ul>
              {{#each openGraph}}
              <li><b>{{name}} </b>: {{{content}}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </script>
      <!-- END opengraph -->

      <!-- PageSpeedInsightsReport -->
      <div id="pagespeedinsightsreport"></div>
      <script id="pagespeedinsightsreport-template" type="text/x-handlebars-template">
        <div class="panel panel-{{color}}">
          <div class="panel-heading">
            <h3 class="panel-title">PageSpeed Insights Report | Score : {{ score.average }} / 100</h3>
          </div>
          <div class="panel-body">

            Speed : {{ score.speed }} / 100
            <div class="progress">
              <div class="progress-bar progress-bar-{{ score.speedColor }}" style="width: {{ score.speed }}%"></div>
            </div>

            Usability : {{ score.usability }} / 100
            <div class="progress">
              <div class="progress-bar progress-bar-{{ score.usabilityColor }}" style="width: {{ score.usability }}%"></div>
            </div>

            <br />

            <table class="table table-striped">
              <thead>
               <tr>
                 <th>#</th>
                 <th>Exp</th>
                 <th>Impact</th>
               </tr>
             </thead>
             <tbody>
              {{#each rule}}
                {{#ifSup ruleImpact 0.01}}
                  <tr>
                    <td>{{localizedRuleName}}</td>
                    <td>{{summary.format}}</td>
                    <td>{{round ruleImpact}}</td>
                  </tr>
                {{/ifSup}}
              {{/each}}
            </tbody>
            </table>

            <hr />

            <a href="https://developers.google.com/speed/pagespeed/insights/?url={{url}}" class="btn btn-default" style="width:100%">Open Google PageSpeed</a>
            <a href="https://search.google.com/search-console/mobile-friendly?url={{url}}" class="btn btn-default" style="width:100%">Open Google MobileFriendly</a>

          </div>
        </div>
      </script>
      <!-- END PageSpeedInsightsReport -->

      <!-- KEYWORDS -->
      <div id="keywords"></div>
      <script id="keywords-template" type="text/x-handlebars-template">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Keywords</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
               <tr>
                 <th>Word</th>
                 <th>Repeat</th>
               </tr>
             </thead>
             <tbody>
              {{#each key}}
                {{#ifSup this.count 5}}
                <tr>
                  <td>{{this.word}}</td>
                  <td>{{this.count}}</td>
                </tr>
                {{/ifSup}}
              {{/each}}
            </tbody>
            </table>
          </div>
        </div>
      </script>
      <!-- END KEYWORDS -->

      <!-- w3c -->
      <div id="w3c"></div>
      <script id="w3c-template" type="text/x-handlebars-template">
        <div class="panel panel-{{color}}">
          <div class="panel-heading">
            <h3 class="panel-title">W3C HTML <span class="label label-default">{{nb_errors}}</span></h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Message</th>
                  <th>Extract</th>
                  <th>Line</th>
                </tr>
              </thead>
              <tbody>
                {{#each array_message}}
                <tr>
                  <td>{{w3c_label type}}</td>
                  <td>{{message}}</td>
                  <td>{{extract}}</td>
                  <td>{{lastLine}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </script>
      <!-- END w3c -->

      <!-- w3ccss -->
      <div id="w3ccss"></div>
      <script id="w3ccss-template" type="text/x-handlebars-template">
        <div class="panel panel-{{color}}">
          <div class="panel-heading">
            <h3 class="panel-title">W3C CSS <span class="label label-default">{{nb_errors}}</span></h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>Context</th>
                  <th>Subtype</th>
                  <th>Error Type</th>
                  <th>Message</th>
                  <th>Type</th>
                  <th>Line</th>
                  <th>uri</th>
                </tr>
              </thead>
              <tbody>
                {{#each errors}}
                <tr>
                  <td>{{context}}</td>
                  <td>{{errorSubtype}}</td>
                  <td>{{errorType}}</td>
                  <td>{{message}}</td>
                  <td>{{type}}</td>
                  <td>{{line}}</td>
                  <td>{{url}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </script>
      <!-- END w3c -->


    </div>


  <script type="text/javascript" src="res/js/jquery2.1.1.min.js"></script>
  <script type="text/javascript" src="res/js/jquery.min.js"></script>
  <script type="text/javascript" src="res/js/handlebars-v4.0.5.js"></script>
  <script type="text/javascript" src="res/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="res/js/lightbox.min.js"></script>
  <script type="text/javascript" src="res/js/ProgressBar.class.js"></script>
  <script>
  /* INCLUDE */
  var PBar = new ProgressBar('ProgressBar', 'progressTitle');
  var ArrayTemplates = [];
  var Website = require('../src/Website.class.js');

  /* HANDLEBARS HELPER REGISTRE */
  Handlebars.registerHelper('ifEgal', function(v1, v2, options) {if(v1 === v2) {return options.fn(this);}return options.inverse(this);});
  Handlebars.registerHelper('ifSup', function(v1, v2, options) {if(v1 >= v2) {return options.fn(this);}return options.inverse(this);});
  Handlebars.registerHelper('list', function(context, options) {var ret = "<ul>";for(var i=0, j=context.length; i<j; i++) {ret = ret + "<li>" + options.fn(context[i]) + "</li>";}return ret + "</ul>";});
  Handlebars.registerHelper('each', function(context, options) {var ret = "";for(var i=0, j=context.length; i<j; i++) {ret = ret + options.fn(context[i]);}return ret;});
  Handlebars.registerHelper('w3c_label', function(text) {text = Handlebars.escapeExpression(text);var design = 'default';switch (text) {case 'error': design = 'danger'; break;case 'info': design = 'info'; break;default: design = 'default'; break;}return new Handlebars.SafeString('<span class="label label-' + design + '">' + text + '</span>');});
  Handlebars.registerHelper("log", function(something) {console.log(something);});
  Handlebars.registerHelper('round', function(number) {return Math.round(number+1);});
  /* END HANDLEBARS HELPER REGISTRE */

  /* Template */
  var generateTemplate = function(name, data){
    ArrayTemplates.push(name);
    var template = Handlebars.compile($("#" + name + "-template").html());
    var html = template(data);
    $('#' + name).html(html);
  }
  /* End Template */

  /* Clean Template */
  var clean = function(){
    ArrayTemplates.forEach(function(element) {
      $("#" + element).html(' ');
    });
  }
  /* End Clean Template */

  /* A HREF */
  var shell = require('electron').shell;
  $(document).on('click', 'a[href^="http"]', function(event) {
      event.preventDefault();
      shell.openExternal(this.href);
  });
  /* A HREF */

  $(document).ready(function(){
    /* Form URL */
    $('#form_url').submit(function(event) {
        event.preventDefault();
        clean();
        var $inputs = $('#form_url :input');
        var values = {};

        $inputs.each(function() {
            values[this.name] = $(this).val();
        });

        Analyse(values['url']);
    });
    /* End Form URL */

    /* Website */
    var Analyse = function(url){
      var myWebsite = Website.FromUrl(url, (Website) =>{
        var Body = Website.getBody();
        var Meta = Website.getMeta();

        /* Info */
        Meta.AnalyseHeader(function(info){
          PBar.startStep('AnalyseHeader');

          /* Template Info */
          if(info.title && info.description && info.keywords){info.infoColor = 'success';} else {info.infoColor = 'danger';}
          if(!info.title){info.title = 'Empty'}
          if(!info.description){info.description = 'Empty'}
          if(!info.keywords){info.keywords = 'Empty'}

          /* Template OpenGraph */
          if(info.openGraph[0]){info.openGraphColor = 'success';} else {
            info.openGraphColor = 'danger';
            info.openGraph[0] = {
              name: 'Empty',
              content: '<a href="http://ogp.me/">http://ogp.me/</a>'
            }
          }

          generateTemplate('info', info);
          generateTemplate('opengraph', info);

          /* Pictures */
          PBar.startStep('Picture');
          Website.getPicture((obj)=>{
            $('#a_' + obj.type).attr('href', obj.addr);
            $('#img_' + obj.type).attr('src', obj.addr);
            PBar.finishStep('Picture');
          });

          PBar.finishStep('AnalyseHeader');
        });

        /* PageSpeed Insights Report */
        PBar.startStep('Page Speed Insights Report');
        Website.PageSpeedInsightsReport((data)=>{

          /* Color */
          var getColor = (score)=>{
            var color = 'default';
            if(score < 40){
              color = 'danger';
            } else if(score >= 40 && score <= 60){
              color = 'warning';
            } else {
              color = 'success';
            }

            return color;
          }

          /* Score */
          var score = {};
          score.speed = data.ruleGroups.SPEED.score;
          score.speedColor = getColor(score.speed);

          score.usability = data.ruleGroups.USABILITY.score;
          score.usabilityColor = getColor(score.usability);

          score.average = Math.round((score.speed + score.usability) / 2);

          /* Rule */
          var rule = [];
          $.each(data.formattedResults.ruleResults, function( index, value ){
            rule.push(value);
          });

          /* Template */
          generateTemplate('pagespeedinsightsreport', {data: data, rule: rule, url: Website.getUrl(), score: score, color: getColor(score.average)});
          PBar.finishStep('Page Speed Insights Report');
        });

        /* Keyword */
        var ArrayKeyword = Website.getKeywords();
        generateTemplate('keywords', {key: ArrayKeyword});

        /* W3C HTML */
        PBar.startStep('W3C');
        Website.w3c('json', function(res){
          if(res.messages[0]){res.Color = 'danger';} else {res.Color = 'success';}
          var l = res.messages.length;
          generateTemplate('w3c', {array_message: res.messages, nb_errors: l, color:res.Color});
          PBar.finishStep('W3C');
        });

        /* W3C CSS */
        PBar.startStep('W3CCSS');
        Website.w3c_css(function(res){
          if(res[0]){res.Color = 'danger';} else {res.Color = 'success';}
          var l = res.length;
          generateTemplate('w3ccss', {errors: res, nb_errors: l, color: res.Color});
          PBar.finishStep('W3CCSS');
        });

      });
    }

  });
  </script>
  </body>
</html>
