<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SEO Manager</title>

    <link rel="icon" href="res/img/app.ico" />
    <link rel="stylesheet" href="res/css/bootstrap.min.css" />
    <link rel="stylesheet" href="res/css/bootstrap-theme-dark.min.css" />
    <link href="res/css/lightbox.min.css" rel="stylesheet"/>
    <link href="res/css/circle.min.css" rel="stylesheet" />
    <style>
    .metaphor-embed-header-icon{
      height: 25px;
      width: 25px;
      float: left;
      margin-right: 5px;
    }
    .metaphor-embed-header-link{
      float: left;
    }
    .metaphor-embed-body-image{
      height: 200px;
      width: 200px;
      text-align: center;
      float: left;
      margin-left: 40%;
    }
    .metaphor-embed-body-description{
      float:left;
    }
    </style>
  </head>
  <body>

    <div class="container">

      <div class="panel panel-default" style="margin-top:10px">
        <div class="panel-heading">
          <h3 class="panel-title">Website</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="#" id="form_url">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">URL : </span>
                <input type="text" name="url" class="form-control" placeholder="http://xx.xx/">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">OK</button>
                </span>
              </div>
            </div>
          </form>

          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width: 0%" id="ProgressBar"></div>
          </div>

          <p id="progressTitle"></p>

        </div>
      </div>

      <!-- INFO -->
      <div id="metadata"></div>
      <script id="metadata-template" type="text/x-handlebars-template">
        <div class="panel panel-{{infoColor}}">
          <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
          </div>
          <div class="panel-body">

              <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a href="res/img/placeholder.png" data-lightbox="screenshot" class="thumbnail" id="a_desktopHD">
                    <img class="img-responsive" src="res/img/placeholder.png" alt="" style="height: 250px;width:250px" id="img_desktopHD">
                </a>
              </div>

              <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <h4>{{site_name}} :</h4>
                <div id="wappalyzer"></div>
              </div>

              <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                <p><b>Meta Description : </b> {{description}}</p>
              </div>

          </div>
        </div>
      </script>

      <script id="wappalyzer-template" type="text/x-handlebars-template">
        {{#each wapp}}
          <li><b>{{app}} </b><i>{{version}}</i> : {{confidenceTotal}}%</li>
        {{/each}}
      </script>
      <!-- END INFO -->

      <!-- opengraph -->
      <div id="opengraph"></div>
      <script id="opengraph-template" type="text/x-handlebars-template">
        <div class="panel panel-{{openGraphColor}}">
          <div class="panel-heading">
            <h3 class="panel-title">OpenGraph Type : {{type}}</h3>
          </div>
          <div class="panel-body">
            {{{preview}}}
          </div>
        </div>
      </script>
      <!-- END opengraph -->

      <!-- PageSpeedInsightsReport -->
      <div id="page-speed-insights-report"></div>
      <script id="page-speed-insights-report-template" type="text/x-handlebars-template">
        <div class="panel panel-{{color}}">
          <div class="panel-heading">
            <h3 class="panel-title">PageSpeed Insights Report | Score : {{ score.average }} / 100</h3>
          </div>
          <div class="panel-body">

            Speed : {{ score.speed }} / 100
            <div class="progress">
              <div class="progress-bar progress-bar-{{ score.speedColor }}" style="width: {{ score.speed }}%"></div>
            </div>

            Usability : {{ score.usability }} / 100
            <div class="progress">
              <div class="progress-bar progress-bar-{{ score.usabilityColor }}" style="width: {{ score.usability }}%"></div>
            </div>

            <br />

            <table class="table table-striped">
              <thead>
               <tr>
                 <th>#</th>
                 <th>Exp</th>
                 <th>Impact</th>
               </tr>
             </thead>
             <tbody>
              {{#each rule}}
                {{#ifSup ruleImpact 0.01}}
                  <tr>
                    <td>{{localizedRuleName}}</td>
                    <td>{{summary.format}}</td>
                    <td>{{round ruleImpact}}</td>
                  </tr>
                {{/ifSup}}
              {{/each}}
            </tbody>
            </table>

            <hr />

            <a href="https://developers.google.com/speed/pagespeed/insights/?url={{url}}" class="btn btn-default" style="width:100%">Open Google PageSpeed</a>
            <a href="https://search.google.com/search-console/mobile-friendly?url={{url}}" class="btn btn-default" style="width:100%">Open Google MobileFriendly</a>

          </div>
        </div>
      </script>
      <!-- END PageSpeedInsightsReport -->

      <!-- KEYWORDS -->
      <div id="keywords"></div>
      <script id="keywords-template" type="text/x-handlebars-template">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Keywords</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
               <tr>
                 <th>Word</th>
                 <th>Repeat</th>
               </tr>
             </thead>
             <tbody>
              {{#each key}}
                {{#ifSup this.count 5}}
                <tr>
                  <td>{{this.word}}</td>
                  <td>{{this.count}}</td>
                </tr>
                {{/ifSup}}
              {{/each}}
            </tbody>
            </table>
          </div>
        </div>
      </script>
      <!-- END KEYWORDS -->

      <!-- Google -->
      <div id="google"></div>
      <script id="google-template" type="text/x-handlebars-template">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Google : {{nResults}}</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
               <tr>
                 <th>Title</th>
                 <th>Link</th>
               </tr>
             </thead>
             <tbody>
              {{#each results}}
                <tr>
                  <td>{{this.title}}</td>
                  <td>{{this.link}}</td>
                </tr>
              {{/each}}
            </tbody>
            </table>
          </div>
        </div>
      </script>
      <!-- END Google -->

      <!-- w3c -->
      <div id="w3c"></div>
      <script id="w3c-template" type="text/x-handlebars-template">
        <div class="panel panel-{{color}}">
          <div class="panel-heading">
            <h3 class="panel-title">W3C HTML <span class="label label-default">{{nb_errors}}</span></h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Message</th>
                  <th>Extract</th>
                  <th>Line</th>
                </tr>
              </thead>
              <tbody>
                {{#each array_message}}
                <tr>
                  <td>{{w3c_label type}}</td>
                  <td>{{message}}</td>
                  <td>{{extract}}</td>
                  <td>{{lastLine}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </script>
      <!-- END w3c -->

      <!-- w3ccss -->
      <div id="w3ccss"></div>
      <script id="w3ccss-template" type="text/x-handlebars-template">
        <div class="panel panel-{{color}}">
          <div class="panel-heading">
            <h3 class="panel-title">W3C CSS <span class="label label-default">{{nb_errors}}</span></h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>Context</th>
                  <th>Subtype</th>
                  <th>Error Type</th>
                  <th>Message</th>
                  <th>Type</th>
                  <th>Line</th>
                  <th>uri</th>
                </tr>
              </thead>
              <tbody>
                {{#each errors}}
                <tr>
                  <td>{{context}}</td>
                  <td>{{errorSubtype}}</td>
                  <td>{{errorType}}</td>
                  <td>{{message}}</td>
                  <td>{{type}}</td>
                  <td>{{line}}</td>
                  <td>{{url}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </script>
      <!-- END w3c -->


    </div>


  <script type="text/javascript" src="res/js/jquery2.1.1.min.js"></script>
  <script type="text/javascript" src="res/js/jquery.min.js"></script>
  <script type="text/javascript" src="res/js/handlebars-v4.0.5.js"></script>
  <script type="text/javascript" src="res/js/underscore-min.js"></script>
  <script type="text/javascript" src="res/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="res/js/lightbox.min.js"></script>
  <script>
  /* HANDLEBARS HELPER REGISTRE */
  Handlebars.registerHelper('ifEgal', function(v1, v2, options) {if(v1 === v2) {return options.fn(this);}return options.inverse(this);});
  Handlebars.registerHelper('ifSup', function(v1, v2, options) {if(v1 >= v2) {return options.fn(this);}return options.inverse(this);});
  Handlebars.registerHelper('list', function(context, options) {var ret = "<ul>";for(var i=0, j=context.length; i<j; i++) {ret = ret + "<li>" + options.fn(context[i]) + "</li>";}return ret + "</ul>";});
  Handlebars.registerHelper('each', function(context, options) {var ret = "";for(var i=0, j=context.length; i<j; i++) {ret = ret + options.fn(context[i]);}return ret;});
  Handlebars.registerHelper('w3c_label', function(text) {text = Handlebars.escapeExpression(text);var design = 'default';switch (text) {case 'error': design = 'danger'; break;case 'info': design = 'info'; break;default: design = 'default'; break;}return new Handlebars.SafeString('<span class="label label-' + design + '">' + text + '</span>');});
  Handlebars.registerHelper("log", function(something) {console.log(something);});
  Handlebars.registerHelper('round', function(number) {return Math.round(number+1);});
  /* END HANDLEBARS HELPER REGISTRE */
  </script>
  <script type="text/javascript" src="app.js"></script>
  </body>
</html>
